<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ContentManagement</display-name>
  <welcome-file-list>
    <welcome-file>Upload.jsp</welcome-file>
    <welcome-file>display.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
		<servlet-name>uploadServlet</servlet-name>
		<servlet-class>cms.controller.UploadServlet</servlet-class>
		<multipart-config>
			<!-- enter your values -->
			<max-file-size>99999999</max-file-size>
			<max-request-size>99999999</max-request-size>
			<file-size-threshold>99999999</file-size-threshold>
		</multipart-config>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>/uploadServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
    <servlet-name>FilterServlet</servlet-name>
    <servlet-class>cms.controller.FilterServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>FilterServlet</servlet-name>
    <url-pattern>/filterServlet.jsp</url-pattern>
</servlet-mapping>

<servlet>
		<servlet-name>download</servlet-name>
		<servlet-class>cms.controller.DownloadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>
	

</web-app>